* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 3rem;
  width: 40vw;
  height: 80vh;
  background-color: rgb(202, 197, 197);
}

.Calculator input {
  width: 100%;
  height: 5rem;
  font-size: 4rem;
  padding: 1rem 0.5rem;
  background-color: hotpink;
}

.digits {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.digits button {
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 3rem;
}
